<div class="center hero-unit">
  <h1>World of Landscapes</h1>

  <h2>
    Is blij om bekend te maken dat
    <a href="http://www.brightin.nl/">Brightin</a>
    hun nieuwe website developer is.
  </h2>
  <h2>Op een goede samenwerking!</h2>

  <%= link_to "Proost!", '#', class: "btn btn-large btn-primary" %>
  <h2></h2>
  <%= link_to image_tag("cheers.JPG", alt: "Cheers!"), 'http://www.worldoflandscapes.nl' %>
  
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://www.worldoflandscapes.nl' %>